html, body {
    max-width: 100%;
    overflow-x: hidden;
    top: 0%;
    background-color: black;
    }

    @media all and (min-width: 769px) and (max-width: 1024px) { 
        iframe, a,h1{font-size:20px;}
    }

    @media all and (min-width: 481px) and (max-width: 768px) {
        iframe,a,h1{font-size:16px;}
    }

    @media all and (min-width: 321px) and (max-width: 480px) {
         iframe,,a, h1{font-size:16px;}
    }

    @media all and (max-width: 320px) {
        iframe, a, h1{font-size:16px;}
    }
.top{
    position: absolute;
    top: 0%;
    background-color: crimson;
    width: 100%;
    padding: 7px;
    left: 0%;
    
}
.logo{
    position:absolute;
    top: 1.75%;
    font-family: sans-serif;
    display:inline-block;
    cursor: default;
    font-size: 60px
    
}
@media all and (min-width: 1025px) and (max-width: 1280px) {    
    aside {font-size:30px;}
}

@media all and (min-width: 769px) and (max-width: 1024px) { 
    aside {font-size:20px;}
}

@media all and (min-width: 481px) and (max-width: 768px) {
   aside {font-size:16px;}
}

@media all and (min-width: 321px) and (max-width: 480px) {
   aside {font-size:16px;}
}

@media all and (max-width: 320px) {
   aside {font-size:16px;}
}

nav{
    background-color: black;
    padding: 0%;
    width:100%;
}

h1{
    font-family: sans-serif;
    color: white;   
}
a{
    font-family: sans-serif;
    color: white;
    text-align: center
}
/*top line*/
nav ul{
    font-family: sans-serif;
    text-align: right;
    font-size: 1.2em;
    background-color: black;    
}
nav ul li{  
    margin: 0px;
    border: 0px;
    list-style-type: none;
    background-color: black;
    display: inline;
    padding: 15px;  
}
nav ul li:hover{
   
    background-color: crimson;
    cursor: pointer;
    transition: all 0.4s ease;   
}
nav ul li a{
    color:white;
    text-decoration: none;
}
/*home current*/
 .current:hover{
    background-color: black;
    cursor: pointer;
    padding: 15px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 10px grey;
}
 .current{
    margin: 0px;
    border: 2px;
    list-style-type: none;
    background-color: crimson;
    display: inline;
    padding: 15px;
    text-decoration: none;    
}
/*subscribe*/
 .subscribe {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-40%,-50%);
    background-color: crimson;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3em;
    
}
 .subscribe:hover{
    background-color:transparent;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-40%,-50%);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 10px grey;
}
/*Slogan*/
.slogan{
    position:absolute;
    font-size: 45px;
    top: 87%;
    font-family: sans-serif;
    display:inline-block;
    cursor:default
}
section img{
    opacity: .80;
    float: right;
    position:absolute;
    top: 48%;
    left:50%;
    width:95%;
    transform: translate(-40%,-50%);
    padding: 10px;
    box-shadow: inset 0 0 10px black;
    border: none;
    transition: opacity .5s ease-out;
}
section img:hover{
    transition: 0.5s;
    opacity: 1;
}
.articles{
    float: left;
    background-color: crimson;
    top: 100%;
    width: 25%;
    height: 25%;
    left: 0%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.articles:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;  
}
.articles h1{
    font-size: 32px;
}
.program{
    
    float: left;
    background-color: crimson;
    top: 100%;
    width: 25%;
    height: 25%;
    left:25%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.program:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
}
.program h1{
    font-size: 32px; 
}

.merch{
    
    float: left;
    background-color: crimson;
    top: 100%;
    width: 25%;
    height: 25%;
    left:50%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px; 
    text-align: center;
    position: absolute;
}
.merch:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
}
.merch h1{
    font-size: 32px; 
}
.lucky{
    
    float: left;
    background-color: crimson;
    top: 100%;
    width: 25%;
    height: 25%;
    left:75%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px; 
    text-align: center;
    position: absolute;
}
.lucky:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
}
.lucky h1{
    font-size: 32px;
}
   
footer{
    position: absolute;
    text-align: center;
    bottom: -30%;
    width: 100%;
}
footer nav ul {
    clear: both;
    position: absolute;
    top: 130%;
    width: 100%;
    text-align: center;
    background-color: black
}
test a{
    position: absolute;
    top: 137%;
    text-align: center;
    left: 50%;
    padding-bottom: 10px;
}
test a:hover{
    color: crimson;
}
::-webkit-scrollbar {
    width: 10px;   
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: dimgrey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {  
    background: grey;  
}
.arms{
    float: left;
    background-color: crimson;
    top: 13%;
    width: 25%;
    height: 25%;
    left: 0%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.arms:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
    }
.arms h1{
    font-size: 32px;
    text-decoration: underline;
}

/*.arm1{
    top: 46%;
    width: 50%;
    text-align: left;
    position: absolute;
}*/
h2{
    font-family: sans-serif;
    color: white;   
}
h3{
    font-family: sans-serif;
    color: white;   
}
.legs{
    float: left;
    background-color: crimson;
    top: 13%;
    width: 25%;
    height: 25%;
    left:25%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.legs:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
    }
.legs h1{
    font-size: 32px;
    text-decoration: underline;
}

.abs{
    float: left;
    background-color: crimson;
    top: 13%;
    width: 25%;
    height: 25%;
    left:50%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.abs:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
    }
.abs h1{
    font-size: 32px;
    text-decoration: underline;
}

.chest{
    float: left;
    background-color: crimson;
    top: 13%;
    width: 25%;
    height: 25%;
    left:75%;
     padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.chest:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
}
.chest h1{
    font-size: 32px;
    text-decoration: underline;
}

.whoAreWe{
    background-color: crimson;
    top: 13%;
    width: 100%;
    height: 25%;
    right: 0%;
   padding-bottom: 15px; 
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.whoAreWe:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
}
.whoAreWe h1{
    font-size: 32px;
    text-decoration: underline;
}
.ourGoal{
    background-color: crimson;
    top: 46%;
    width: 100%;
    height: 25%;
    right: 0%;
    padding-bottom: 15px; 
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.ourGoal:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;  
}
.ourGoal h1{
    font-size: 32px;
    text-decoration: underline;
}
.whatWeOffer{
    background-color: crimson;
    top: 79%;
    width: 100%;
    height: 25%;
    right: 0%;
    padding-bottom: 15px; 
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
}
.whatWeOffer:hover{
    background-color:black;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;  
}
.whatWeOffer h1{
    font-size: 32px;
    text-decoration: underline;
}
.aboutus iframe{
    position: absolute;
    top: 104%;
    left: 25%;
}
.required{
    font-weight: bold;
    content:" *";
    color: red;
}
label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}
input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}
 input[type="radio"]{
     width: 10px;
}
input[type="checkbox"]{
    width: 15px;
}

.col_article{
    text-align: center;
    position: absolute;
    display:flex;
    top: 48%;
    width: 99%;
    padding: 2px;
}
.col_article img{
    border: solid white;
    cursor: zoom-in;
    transform-origin: 0 0;
}
.col_article img:hover{
    position: absolute;
    transition-property: all;
    left: 0%;
    top:  .7%;
    width: 49.5%;
    height: 87%;
}
.left_col{
    margin: 2px;
    text-align: left;
    width: 100%;
}

.right_col{
    margin: 2px;
    text-align: left;
    width: 100%;
}
iframe{
    overflow:hidden;
    border: solid white;
}
input:invalid {
    border: 2px solid crimson;
    background-image: url(../Images/asterisk.png);
    background-size: 20px 16px;
    background-position: right top;
    background-repeat: no-repeat;
  
}
input:valid{
    border: 2px solid limegreen;
    background-image: url(../Images/tick.png);
    background-size: 16px 16px;
    background-position: right top;
    background-repeat: no-repeat;
}
textarea:valid{
     border: 2px solid limegreen;
    background-image: url(../Images/tick.png);
    background-size: 16px 16px;
    background-position: right top;
    background-repeat: no-repeat;
}
textarea:invalid{
     border: 2px solid crimson;
    background-image: url(../Images/asterisk.png);
    background-size: 20px 16px;
    background-position: right top;
    background-repeat: no-repeat;
}

#button{
    position: absolute;
    top: 80%;
    left: 7.4%;
     border: 2px solid limegreen;
    background-image: url(../Images/tick.png);
    background-size: 16px 16px;
    width:100px;
    background-position: right top;
    background-repeat: no-repeat;
}
#reset{
     position: absolute;
    top: 80%;
    left: 16.5%;
     border: 2px solid crimson;
    background-image: url(../Images/asterisk.png);
    background-size: 20px 16px;
     width:100px;
    background-position: right top;
    background-repeat: no-repeat;
}
#button1{
    position: absolute;
    top: 71%;
    left: 57.3%;
     border: 2px solid limegreen;
    background-image: url(../Images/tick.png);
    background-size: 16px 16px;
    width:100px;
    background-position: right top;
    background-repeat: no-repeat;
}
#reset1{
    position: absolute;
    top: 71%;
    left: 66.4%;
    border: 2px solid crimson;
    background-image: url(../Images/asterisk.png);
    background-size: 20px 16px;
    width:100px;
    background-position: right top;
    background-repeat: no-repeat;
}
table, th, td {
    width: 500px;
    text-align: left;
    border: 1px solid crimson;
    background: black;
    border-collapse: collapse;
    color: white;
}
::placeholder{
    color: grey;
    font-family:monospace;
}
.a1{
    color: lightsteelblue;
    text-decoration: underline;
    text-decoration-color: lightsteelblue;
}
.a1:hover{
    color: crimson;
    transition: all 0.5s ease;
    cursor: pointer;
}
.bottom{
    position: absolute;
    text-align: center;
    bottom: -44%;
    background-color: crimson;
    width: 100%;
    padding: 5px;
    left: 0%;
}
.article1 img{
    overflow: hidden;
    opacity: .8;
    position:absolute;
    top: 68%;
    left:42%;
    width: 86%;
    transform: translate(-40%,-50%);
    box-shadow: inset 0 0 10px black;
    padding-left:250px; 
    border-bottom: solid white;
    transition: opacity .5s ease-out;
}
.article1 img:hover{
    transition: 0.5s;
    opacity: 100%;
}

